<h1>Hi, <%= current_user.username %>!  Welcome to your homepage. Here are all your active listings</h1>
<!-- this will be users profile? it will show current listings and other stuff -->


<p> Listings </p>
    <% @user.listings.each do |listing| %>
    <div><%= link_to listing.name, listing_path(listing)%> <%= link_to "edit", edit_listing_path(listing)%> </div>
<%end%>


