<%= current_user.username %>

<!-- this will be users profile? it will show current listings and other stuff -->
<%= link_to "New Listing", new_user_listing_path(@user) %>

<p> Listings </p>
    <% @user.listings.each do |listing| %>
    <div><%= listing.name %> </div>
<%end%>


<footer>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
  <%end%>
  </footer>